img{
  height: 200px;
  margin-top: 20px;
}
h3{
  margin: 20px;
}
*{
  text-align: center;
}
h1{
  font-size: 32px;
}
hr{
  margin-top: 10px;
}
.section_1,
.section_2{
  background-color: #f9f9f9;
}
.section_2 img{
  height: 260px;
  padding: 30px;
  border-radius: 50%;
  background-color: #428bca;
  margin-top: 80px;

}
.container{
  margin-top:100px;
}
