/* /general style + responsive desktop */
.container *{
  text-align: center;
}
.container{
  max-width: 992px;
  margin-top:100px;
}
img{
  max-height: 200px;
  margin-top: 20px;
}
h3{
  margin: 20px;
}
h1{
  font-size: 32px;
}
hr{
  margin-top: 10px;
}
.section_2,
.section_3{
  background-color: #f9f9f9;
}
.section_2 img{
  min-height: 200px;
}
.section_3 img{
  height: 260px;
  padding: 30px;
  border-radius: 50%;
  background-color: #428bca;
  margin-top: 80px;
}
/* /general style + responsive desktop */
/* responsive tablet from 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px){
  body{
    font-family: 'Oswald', sans-serif;
  }
  .container{
    width: 90%;
    margin-top: 0;
  }
  [class*="col"]{
    padding: 0 20px 0 20px;
  }
  img{
    height: 160px;
    margin-top: 80px;
  }
  h1{
    font-size: 60px;
    padding-top: 100px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  h3{
    font-size: 30px;
    margin-top: 20px;
    text-transform: uppercase;
  }
  hr{
    width: 40%;
    margin: auto;
    margin-top: 80px;
    border: 1px solid black;
  }
  .section_1{
    padding-bottom: 100px;
  }
  .section_1,
  .section_3{
    background: rgb(34,138,161);
    background: linear-gradient(0deg, rgba(34,138,161,1) 0%, rgba(99,255,139,1) 100%, rgba(0,255,233,1) 100%);
  }
  .section_2{
    background: rgb(34,138,161);
    background: linear-gradient(180deg, rgba(34,138,161,1) 0%, rgba(99,255,139,1) 100%, rgba(0,255,233,1) 100%);
  }
}
/* /responsive tablet from 768px to 991px */
/* responsive smartphone < 768 px */
@media screen and (max-width: 767px){
  body{
    font-family: 'Oswald', sans-serif;
  }
  .container{
    width: 90%;
    margin-top: 0;
  }
  [class*="col"]{
    padding: 0 20px 0 20px;
  }
  img{
    height: 150px;
    margin-top: 80px;
  }
  h1{
    font-size: 80px;
    padding-top: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-size:50%;
    background-repeat: no-repeat;
  }
  .section_3{
    padding-bottom: 30px;
  }
  h3{
    font-size: 40px;
    margin-top: 30px;
    text-transform: uppercase;
  }
  hr{
    width: 40%;
    margin: auto;
    margin-top: 80px;
    border: 1px solid black;
  }
  .macchia_azzurra{
    background-image: url("../img/macchia_azzurra.png");
    background-size: contain;
  }
  .macchia_gialla{
    background-image: url("../img/macchia_gialla.png");
    background-size: contain;
  }
  .macchia_rosa{
    background-image: url("../img/macchia_rosa.png");
    background-size: contain;
  }
  .section_1,
  .section_3{
    background: rgb(34,138,161);
    background: linear-gradient(0deg, rgba(34,138,161,1) 0%, rgba(99,255,139,1) 100%, rgba(0,255,233,1) 100%);
  }
  .section_2{
    background: rgb(34,138,161);
    background: linear-gradient(180deg, rgba(34,138,161,1) 0%, rgba(99,255,139,1) 100%, rgba(0,255,233,1) 100%);
  }
}
/* /responsive smartphone < 768 px */
